<div class="jumbotron bg-grey">
<div class="container-fluid ">
    <div class="row">
        <div class="col-sm-2">
              
        </div> 
        <div class="col-sm-2">
            <h3><b>PayVoo</b></h3>
            PayVoo UAB<br>
            305190898<br>
            Vilniaus m. sav. Vilniaus<br>
            m.Didzioji g.18<br>
            Lithuania<br>
      </div> 
      <div class="col-sm-2">
        <p>PERSONAL<br>
        PayVoo Digital Wallet<br>
        Black Voo<br>
        Subscription Plans<br>
        FAQ</p>
  </div> 
  <div class="col-sm-2">
    <p>BUSINESS
        PayVoo Buisness Wallet<br>
        Sandbox<br>
        Subscription Plans<br>
        FAQ</p>
    
</div> 
<div class="col-sm-2">
   <p>ABOUT US
    Company<br>
    Careers<br>
    Contact<br>
    Security<br>
    News</p>
</div> 
<div class="col-sm-2">
   <p>LEGAL
    Terms and Conditions<br>
    Privacy and Policy<br>
    Cookies policy
</p>
</div>    

    </div>
</div>

  